@model IEnumerable<AcmeSacHotel2024.Dominio.Entidades.HotelAcme>

<div>
    <div>
        <div>
            <div>
                <h2>Lista AcmeSac Hotel</h2>
            </div>

        </div>
    </div>

    <div>
        <div>
            <div>
                <a asp-controller="Hotel" asp-action="Agregar" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Agregar datos nuevos
                </a>
            </div>
        </div>
    </div>
</div>